[2014-10-26 16:20] yegor256 opened #1 "skeleton"

[2014-10-26 19:24] #1 closed, assigned to nobody

[2014-10-27 09:47] yegor256 opened #2 "extra ctors and classes"

[2014-10-27 10:19] #2 closed, assigned to nobody

[2014-10-27 11:04] yegor256 opened #3 "sub-packages"

[2014-10-27 11:27] #3 closed, assigned to nobody

[2014-10-27 11:32] yegor256 opened #4 "empty list of recipients crashes Postman"
[code]

[2014-10-27 15:19] #4 closed, assigned to nobody

[2014-10-27 17:14] yegor256 opened #5 "stamps ctor params are messed up"

[2014-10-27 18:14] #5 closed, assigned to nobody

[2014-10-27 18:15] yegor256 opened #6 "unicode in enclosures is broken"

[2014-10-27 19:03] #6 closed, assigned to nobody

[2014-11-09 17:10] yegor256 opened #7 "cacheable envelope"

[2014-11-09 17:58] #7 closed, assigned to nobody

[2015-01-07 12:35] yegor256 opened #8 "unicode/UTF-8 is broken"
I'm doing this:

[code]

When this email arrives, the text is broken. Looks like we're doing something wrong with unicode. Let's try to reproduce this and fix.

[2015-01-08 10:40] dmarkov commented on #8
this task will get someone's attention soon

[2015-01-08 10:43] dmarkov commented on #8
@dpisarenko please proceed, it's yours

[2015-01-08 10:44] yegor256 opened #9 "StHeader"
Let's create a new class `StHeader`, which will add a header to the email `message`.

[2015-01-08 10:45] dmarkov commented on #8
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-b06e0fac`

[2015-01-08 13:13] dpisarenko commented on #8
@yegor256 I managed to modify the code that an e-mail saved to a file looks good on my machine. Before I create a pull request I want to make sure that it works for you as well.

Please download the file from https://www.evernote.com/shard/s35/sh/23b09f0a-1650-43f7-ab98-f8b11edd73d5/9a0520de1820d366ec1747731eecb45a , open it in Thunderbird or Outlook and tell me, if you can see the `привет` letter

[2015-01-08 13:22] yegor256 commented on #8
@dpisarenko Yes, this `eml` file looks correct to me

[2015-01-08 13:23] yegor256 commented on #8
@dpisarenko did you manage to reproduce the bug (in a unit test)?

[2015-01-08 13:37] yegor256 opened #10 "Envelope.MIME(envelope)"
Would be nice to have a new ctor `Envelope.MIME(envelope)`. Its argument should be of type `Envelope`.

[2015-01-08 13:44] yegor256 commented on #10
@rultor release, tag is `1.5`

[2015-01-08 13:44] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1512-69180270)

[2015-01-08 13:51] dpisarenko commented on #8
@yegor256 Yes. I will submit a pull request soon.

[code]

[2015-01-08 13:56] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1512-69180270) (took me 11min)

[2015-01-08 14:03] #10 closed

[2015-01-08 14:08] dpisarenko opened #11 "`mvn qulice:check -Pqulice` leads to errors in files, which I didn't change"
[code]

Please make sure that `mvn qulice:check -Pqulice` runs without errors on files, which were not changed.

Part of the solution: Include `<license>file:${basedir}/LICENSE.txt</license>` in the configuration of the `qulice-maven-plugin` plugin in `pom.xml`.

[2015-01-08 14:39] yegor256 opened #12 "Postman that ignores loop emails"

[2015-01-08 15:10] dpisarenko commented on #8
@dmarkov I added a pull request with the bugfix ( https://github.com/jcabi/jcabi-email/pull/13 ). Please find someone to review it.

[2015-01-08 15:12] yegor256 commented on #12
@rultor release, tag is `1.6`

[2015-01-08 15:13] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1513-69192182)

[2015-01-08 15:25] rultor commented on #12
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1513-69192182) (spent 12min)

[2015-01-08 15:49] yegor256 commented on #12
@rultor release, tag is `1.6`

[2015-01-08 15:50] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1513-69198327)

[2015-01-08 15:55] rultor commented on #12
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1513-69198327) (spent 5min)

[2015-01-08 15:57] yegor256 commented on #12
@rultor release, tag is `1.6`

[2015-01-08 15:58] rultor commented on #12
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1513-69199645)

[2015-01-08 16:11] rultor commented on #12
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1513-69199645) (took me 13min)

[2015-01-08 16:13] #12 closed

[2015-01-08 16:30] maurezen opened #14 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-08 17:12] yegor256 opened #15 "Envelope.MIME(envelope) fails"

[2015-01-08 17:13] yegor256 commented on #15
@rultor release, tag is `1.6.1`

[2015-01-08 17:14] rultor commented on #15
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1518-69212925)

[2015-01-08 17:26] rultor commented on #15
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1518-69212925) (took me 11min)

[2015-01-08 17:27] #15 closed

[2015-01-08 20:10] yegor256 opened #16 "Envelope.MIME wrapping fails with enclosures"

[2015-01-08 20:27] yegor256 commented on #16
@rultor release, tag is `1.6.2`

[2015-01-08 20:27] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1521-69243487)

[2015-01-08 20:39] rultor commented on #16
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1521-69243487) (spent 11min)

[2015-01-08 20:40] yegor256 commented on #16
@rultor release, tag is `1.6.2`

[2015-01-08 20:41] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1521-69245347)

[2015-01-08 20:52] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1521-69245347) (took me 10min)

[2015-01-08 21:56] #16 closed

[2015-01-10 07:51] dpisarenko commented on #8
@dmarkov @yegor256 Please assign someone to review my pull request. Thanks!

[2015-01-12 10:13] dmarkov commented on #9
I'm aware of the task, give me some time to find a developer...

[2015-01-12 10:13] dmarkov commented on #11
I'll ask someone to take care of this task soon

[2015-01-12 10:13] dmarkov commented on #14
I'll find a developer for the task soon...

[2015-01-12 11:07] dmarkov commented on #9
@pinaf please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-12 11:07] dmarkov commented on #11
@romankisilenko the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-12 11:07] dmarkov commented on #14
@aoxa the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-12 11:08] dmarkov commented on #11
@dpisarenko thanks for this report, I added 15 mins to your account, in transaction `50043454`

[2015-01-12 20:23] pinaf commented on #9
@dmarkov thanks. Should I add a unit test also?

[2015-01-12 20:27] yegor256 commented on #9
@pinaf of course, we always start with a test

[2015-01-12 20:30] pinaf commented on #9
alright. And is there any way I can run the code quality stuff to check everything before issuing the pull request? Or is the only way to let rultor do it when you guys attempt to merge?

[2015-01-12 20:34] yegor256 commented on #9
@pinaf before you submit a pull request, run `mvn clean install -Pqulice`. that's what Travis and Rultor are doing to check the quality of the code

[2015-01-12 21:14] pinaf commented on #9
@yegor256 cool. had to upgrade maven because of [this](https://github.com/jcabi/jcabi-github/issues/768). sent pull request.

[2015-01-12 21:22] pinaf commented on #9
@dmarkov pull request [#17](https://github.com/jcabi/jcabi-email/pull/17)

[2015-01-13 11:12] RomanKisilenko opened #19 "mvn qulice:check -Pqulice leads to NPE"
Below are execution logs:
[code]

[2015-01-13 11:13] RomanKisilenko commented on #11
@dmarkov, unfortunately, I'm not able to work on this issue yet, due to #19

[2015-01-13 11:37] dpisarenko commented on #8
@yegor256 The pull request with the bugfix has been merged. Please check, if it works for you now.

[2015-01-13 12:27] RomanKisilenko commented on #19
The problem looks due to maven 3.0.5 was used, on 3.2 it works fine, so probably this can be closed.

[2015-01-13 12:27] #19 closed

[2015-01-13 14:45] yegor256 commented on #8
@rultor release, tag is `1.6.3`

[2015-01-13 14:46] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1563-69754095)

[2015-01-13 15:01] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1563-69754095) (took me 14min)

[2015-01-13 15:48] yegor256 commented on #8
@dpisarenko thanks!

[2015-01-13 15:48] #8 closed

[2015-01-14 11:30] dmarkov commented on #14
@maurezen many thanks for the bug report, I added 15 mins to your acc, transaction `50257219`

[2015-01-14 14:15] pinaf commented on #9
@yegor256 @dmarkov merged, please close.

[2015-01-14 21:31] yegor256 commented on #9
@pinaf thanks!

[2015-01-14 21:31] #9 closed

[2015-01-16 12:34] dmarkov commented on #8
@dpisarenko Thanks a lot, I just topped your account for **30 mins**, transaction ID `50302463`... +30 to your rating, your total score is [+205](http://www.netbout.com/b/35089?open=rating)

[2015-01-16 12:34] dmarkov commented on #9
@pinaf Many thanks! **30 mins** were added to your account in Transaction ID `AP-34C10411UK2479534`

+30 to your rating, your total score is [+30](http://www.netbout.com/b/35128?open=rating)

[2015-01-21 12:07] RomanKisilenko commented on #11
Hello. PR is reviewed and closed, please close this issue.

[2015-01-21 12:10] #11 closed

[2015-01-21 22:50] maurezen opened #21 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 13:45] dmarkov commented on #11
@romankisilenko Many thanks! **30 mins** were added to your account in Transaction ID `50597901`... added +30 to your rating, now it is equal to +120

[2015-01-27 11:24] dmarkov commented on #14
@aoxa you're holding this ticket for 15 days already. If it's not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck); -30 to your rating, your total score is +0

[2015-01-28 19:11] aoxa commented on #14
This was solved with https://github.com/jcabi/jcabi-email/pull/18
Cheers

[2015-01-28 19:23] #14 closed

[2015-02-02 12:08] dmarkov commented on #14
@aoxa Thanks a lot, I just topped your account for **30 mins**, transaction ID `51006960`

added +30 to your rating, now it is equal to -210

[2015-04-07 07:03] dmarkov opened #22 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:07] dmarkov opened #23 "1.7"
Please, publish a new release **1.7** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:34] dmarkov opened #24 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-12 07:06] dmarkov commented on #23
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 08:08] dmarkov commented on #23
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-06-01 07:46] dmarkov commented on #24
@yegor256 Closing, thanks all

[2015-06-01 07:46] #24 closed

[2015-06-04 07:34] dmarkov commented on #22
@yegor256 Thanks all, closed

[2015-06-04 07:34] #22 closed

[2015-06-04 07:34] dmarkov commented on #23
@yegor256 Done, thanks all, closing..

[2015-06-04 07:34] #23 closed

[2015-06-10 10:47] YamStranger opened #25 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 07:39] dmarkov commented on #21
@yegor256 please dispatch this issue

[2015-06-15 07:39] dmarkov commented on #25
@yegor256 please pay attention to this issue

[2015-06-16 22:27] YamStranger commented on #25
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-24 01:38] yegor256 commented on #21
@maurezen fixed in 853df6b thanks

[2015-06-24 01:38] #21 closed

[2015-06-24 01:39] yegor256 commented on #25
@YamStranger fixed in https://github.com/jcabi/jcabi-email/commit/ca52235b177aa6a2419b7ff75045bc6f0b8aabc4

[2015-06-24 01:39] #25 closed

[2015-11-29 23:05] yegor256 opened #26 "Envelope.Draft"

[2015-11-29 23:05] #26 closed

[2015-11-29 23:10] yegor256 commented on #26
@rultor release, tag is `1.7`

[2015-11-29 23:12] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5816-160480092)

[2015-11-29 23:29] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5816-160480092) (took me 17min)

[2015-12-08 07:40] simonjenga opened #27 "qulice check failure"
```./jcabi-email>mvn qulice:check -Pqulice```

[code]

[2015-12-11 08:11] dmarkov commented on #27
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-11 10:44] yegor256 commented on #27
@simonjenga this is not supposed to work. Always use `mvn clean install -Pqulice`

[2015-12-11 10:44] #27 closed

[2015-12-19 20:14] simonjenga opened #29 "@SuppressWarnings("PMD.UnusedPrivateField")"
[code]

This constant is in use. The ```@SuppressWarnings``` annotation is not needed.

[2015-12-22 05:59] #29 closed

[2016-01-20 10:44] exper0 opened #31 "Move StReplyTo"
Working on Netbout I created a class [StReplyTo](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/email/StReplyTo.java#L50) similar to existing StSender, StRecipient etc.
Right place for this class is here. So let's move it from Netbout to here.

[2016-01-24 02:54] piotrkot opened #33 "Gmail SMTP connection fails"
Following your example:
[code]
I get
[code]
And `telnet smtp.gmail.com 465` works just fine.

[2016-01-25 07:25] dmarkov commented on #31
@yegor256 please do something about this issue

[2016-01-26 07:35] dmarkov commented on #31
@exper0 thank you for reporting this, I added 15 mins to your acc, transaction `AP-2N427522VM225312E`

[2016-01-27 07:44] dmarkov commented on #33
@yegor256 please dispatch this issue

[2016-01-29 21:13] yegor256 commented on #33
@piotrkot show your full stacktrace pls

[2016-01-29 21:47] piotrkot commented on #33
@yegor256 Here you are.
[code]
I didn't attach the source code as it's basically the copy&paste from http://email.jcabi.com/

[2016-02-03 23:11] yegor256 commented on #33
@piotrkot hm... no idea. maybe wrong password?

[2016-02-05 01:26] piotrkot commented on #33
@yegor256 The password is fine. Even changing google account access for less secure apps didn't make the difference. Now, I tried with Apache Commons Email (v.1.4)
[code]
and it works with Apache. So there must be something missing with jcabi-email. (Yes, `user` and `pass` are the same for both email clients).
But as you have no idea what is wrong means it is working for you, isn't it?

[2016-02-05 01:40] piotrkot commented on #33
I even created a brand new google account. Sending emails works only with Apache code.

[2016-02-05 02:42] piotrkot commented on #33
@yegor256 Apache call to `email.setSSLOnConnect(true);` is important and missing in jcabi.
That is `com.jcabi.email.wire.SMTP` class does not set all properties in session (method `connect()`).
Providing them as program arguments is not going to work either. What is required is to add them to `connect()` method.
Apache sets the following properties:
[code]
After the above mentioned changes, sendin

[2016-02-05 03:45] yegor256 commented on #33
@piotrkot maybe you can submit a pull request since you know what the problem is?

[2016-02-05 06:37] piotrkot commented on #33
@yegor256 Sure, I will.

[2016-02-05 07:41] piotrkot commented on #33
@yegor256 Just a few thoughts. Gmail requires SMTP with SSL. All you have is `SMTP Postman`. For that I suggest creating new class `SMTPS Postman` implementing `Wire`. Unfortunately, `SimpleSMTPServer` from dumbster doesn't support SSL. What do you think about using another server for testing? How about [javamail-mock2](https://github.com/salyh/javamail-mock2)?

[2016-02-08 08:47] dmarkov commented on #31
@amihaiemil can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-09 04:59] yegor256 commented on #33
@piotrkot sure, why not, let's switch to javamail-mock2

[2016-02-09 06:42] piotrkot opened #36 "Javamail-mock2"
Let's switch to another test server - javamail-mock2. (as agreed in #33 )

[2016-02-09 07:49] mkordas opened #37 "Update to Java 7"
Currently Travis build does not work for Java 6 on Travis ([log from master branch](https://s3.amazonaws.com/archive.travis-ci.org/jobs/107957920/log.txt)), as Qulice requires at least Java 7:
[code]
Let's update project to Java 7 and remove failing Travis build.

Moreover, let's do typical Java 6 - > Java 7 migration steps: use diamond operator, try-with-resources, etc.

[2016-02-12 08:47] dmarkov commented on #36
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-12 08:47] dmarkov commented on #37
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-13 11:57] amihaiemil commented on #31
@dmarkov The PR for this has been merged and closed - it is now waiting to be deployed.

[2016-02-14 11:46] mkordas commented on #31
@exper0 done by @amihaiemil in #35, please close if OK

[2016-02-14 12:28] exper0 commented on #31
@amihaiemil @mkordas thanks

[2016-02-14 12:28] #31 closed

[2016-02-15 11:07] amihaiemil commented on #31
@dmarkov This issue was closed.

[2016-02-16 07:34] dmarkov commented on #31
@amihaiemil OK

[2016-02-16 09:32] dmarkov commented on #31
@amihaiemil Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-70Y61879HE6578206`, the task took 168 hours and 35 mins)

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36402?open=rating)

[2016-02-16 13:59] dmarkov commented on #37
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 56c32b5753fc494c8a0002c4

[2016-03-22 10:20] dmarkov commented on #37
@nesterov-n can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-03-22 17:17] nesterov-n commented on #37
@dmarkov See my PR #38

[2016-03-23 07:21] dmarkov commented on #37
@nesterov-n thank you

[2016-03-29 09:20] nesterov-n commented on #37
@mkordas I believe that all is done here. Can you close issue?

[2016-03-29 09:31] #37 closed

[2016-03-30 10:38] dmarkov commented on #37
@nesterov-n Many thanks! **30 mins** were added to your account in Transaction ID `AP-7HR88999GH051831E` (task took 167 hours and 31 mins); +30 added to your rating, current score is: [-28](http://www.netbout.com/b/36483?open=rating)

[2016-04-10 18:41] jaredculp opened #39 "1.8 Release?"
Does a 1.8 release exist? I'm hoping to use this library for a project, but need the `StReplyTo` class added in 1.8.

[2016-04-12 18:09] jaredculp opened #40 "Cannot specify multiple to, bcc, or cc addresses"
I cannot specify more than one to, bcc, or cc address when constructing an `Envelope`.

Each implementation of `Stamp` (`StRecipient`, `StCC`, `StBCC`) calls `message.setReceipient()` which effectively overwrites all previous recipients. They should instead call `addRecipient()`.

[2016-04-14 07:51] dmarkov commented on #39
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-04-14 17:34] jaredculp commented on #39
To be clear it would be awesome to get #41 merged in before a new release is cut :)

[2016-04-15 20:03] boris-dev opened #42 "Does jcabi-email supports setting property of Session?"
I found in source code:

SMTP.java
[code]

How can I add one more property to  session?

[2016-04-17 17:54] yegor256 commented on #39
@rultor release, tag is `1.8`

[2016-04-17 17:54] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8075-211071454)

[2016-04-17 18:13] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8075-211071454) (took me 18min)

[2016-04-18 08:08] dmarkov commented on #40
@rultor @jaredculp please look at this issue, rultor closed it automatically

[2016-04-18 08:08] rultor commented on #40
@dmarkov I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-04-18 08:09] dmarkov commented on #36
@amihaiemil please help, the task is yours

[2016-04-19 10:48] dmarkov commented on #42
@yegor256 please dispatch this issue

[2016-04-19 17:20] #40 closed

[2016-04-20 18:37] amihaiemil commented on #36
@piotrkot Can you please give me more details? How exactly is ``javamail-mock2`` going to replace the dumbster lib?

I looked into it but I don't see how to start a mock server using javamail-mock2? It has no documentation and only some tests that are irrelevalnt for this topic, I think.

I'll add a puzzle for unit-testing of ``SMTPS``, but I need to rewrite ``SMTPTest.sendsErrorsBySmtp()``, which

[2016-04-20 18:37] amihaiemil commented on #36
@dmarkov Why is my assignment removed if I leave a comment to the task?

[2016-04-20 19:06] yegor256 commented on #42
@boris-dev there is no way to do it. just implement your own class, similar to `SMTP`

[2016-04-20 19:06] #42 closed

[2016-04-20 19:41] amihaiemil opened #43 "Refactor com.jcabi.email.postman.PostNoLoops"
Currently the method

``private boolean intersect(final Address[] first, final Address[] second, final String msg)``

Is really huge and bluntly implemented.
It can be refactored to contain only a couple lines using ``Collections.retainAll()``.

I tried it and the tests passed fine.

[code]

[2016-04-21 06:35] piotrkot commented on #36
@amihaiemil Unfortunately, I cannot give you details on how to use `javamail-mock2` as I haven't used it myself. The only thing I noticed was that `dumbster` does not support SSL which we need. A proposal of `javamail-mock2` was given after a little research. I believe there is some analysis required for this task to ensure `javamail-mock2` fits our needs. Otherwise, I am very open for another lib

[2016-04-21 07:36] amihaiemil commented on #36
@piotrkot Seems like Greenmail could do the trick:

http://www.icegreen.com/greenmail/

It says that it
``Supports SMTP, POP3 and IMAP including SSL``

I will look into it and try to implement it asap, later today.

[2016-04-21 07:39] amihaiemil commented on #36
@yegor256 My assignment from the task was removed when I left the first comment (I don't know why that happened, maybe because Alice removed me from jcabi campus team). Will I get paid, or at least get the rating points if I work on it?

[2016-04-22 21:45] yegor256 opened #44 "default ctor for SMTP roll back"
We have to return back the default ctor of SMTP, which was removed in https://github.com/jcabi/jcabi-email/pull/34

[2016-04-22 21:45] #44 closed

[2016-04-22 22:03] yegor256 commented on #39
@jaredculp it's ready. please close the ticket if you're happy :)

[2016-04-22 22:04] yegor256 commented on #42
@boris-dev I'm sorry, I was wrong. you can do it, with the latest version:

[code]

[2016-04-24 01:40] #39 closed

[2016-04-25 08:57] dmarkov commented on #43
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-04-26 16:38] amihaiemil commented on #36
@dmarkov I created PR #45 for this. Please assign a reviewer. Thanks.

[2016-04-27 10:42] amihaiemil commented on #43
@yegor256 Can you have a look here pls? Thanks.

[2016-05-02 09:26] amihaiemil commented on #36
@yegor256 PR #45 is waiting for your approval. Thanks

[2016-05-03 01:45] amihaiemil commented on #36
@yegor256 ping

[2016-05-03 01:47] amihaiemil commented on #36
@dmarkov the PR is waiting for Yegor's approval. I need more time.

[2016-05-03 07:49] dmarkov commented on #36
@amihaiemil of course, thanks for letting me know, take your time

[2016-05-03 10:58] yegor256 commented on #36
@amihaiemil what do you want me to do here?

[2016-05-03 11:00] amihaiemil commented on #36
@yegor256 Have a look at PR #45 and approve merge if everything is ok.

[2016-05-03 11:21] amihaiemil commented on #36
@piotrkot PR #45 has just been merged and closed . Please close this ticket if it's ok with you. Thanks.

[2016-05-03 12:56] dmarkov commented on #43
@amihaiemil thanks for tis bug, I topped your account for 15 mins, transaction `AP-61L70367K0547154P`

[2016-05-03 18:15] #36 closed

[2016-05-04 06:04] amihaiemil commented on #36
@dmarkov FYI, this task was closed

[2016-05-05 09:12] dmarkov opened #46 "Protocol.java:100-104: Write unit test for email..."
Puzzle `36-3609fbd6` in `src/main/java/com/jcabi/email/Protocol.java:100-104` has to be resolved: Write unit test for email sending with SMTPS protocol using Greenmail mock server (see http://www.icegreen.com/greenmail/ for Greenmail docs and example code). SMTPS was implemented in ticket #33 but was not unit tested since the previous mock server (Dumbster) did not support SSL.... The puzzle was c

[2016-05-05 09:12] dmarkov commented on #36
@piotrkot the code made here contains a puzzle `36-3609fbd6`/#46, which will be resolved soon

[2016-05-05 09:26] dmarkov commented on #36
@amihaiemil thanks, paid, **30 mins** to your account, payment ID is `AP-6F742275CN511772T`, task took 384 hours and 5 mins to complete; +30 to your rating, your total score is [+405](http://www.netbout.com/b/36402?open=rating)

[2016-05-09 09:29] piotrkot commented on #33
Seems it's all done. Closing now.

[2016-05-09 09:29] #33 closed

[2016-05-31 14:45] Stuk4 opened #47 "Error in SMTP constructor"
Hi,
I tried to use jcabi-mail and I found this issue:

When i tried to do this:

[code]

I got this:

[code]

Because the constructor for STMP is this:

[code]

Please, i need your support.

Thanks!

[2016-06-03 15:21] jachinte commented on #47
You can use:
[code]

[2016-06-08 07:54] dmarkov commented on #47
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-22 23:07] yegor256 commented on #47
@Stuk4 you're supposed to use it like this:

[code]

[2016-06-22 23:09] yegor256 commented on #47
@Stuk4 I think we should update all our documentation to avoid that confusion in the future

[2016-07-18 07:03] dmarkov commented on #47
@prondzyn this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-07-19 14:16] prondzyn commented on #47
@dmarkov PR #48 prepared.

[2016-07-20 09:17] dmarkov commented on #47
@prondzyn thank you!

[2016-07-22 20:08] prondzyn commented on #47
@Stuk4, please close the issue - PR is merged.

[2016-07-23 03:17] #47 closed

[2016-07-26 10:01] dmarkov commented on #47
@prondzyn Much obliged! I have added **30 mins** to your account in payment "AP-09R42136HL819033G", 169 hours and 9 mins spent... +30 added to your rating, current score is: [+0](http://www.netbout.com/b/35715?open=rating)

[2016-08-04 07:44] dmarkov commented on #43
@prondzyn this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-08-04 08:33] prondzyn commented on #43
@dmarkov PR #49 prepared.

[2016-08-04 10:00] dmarkov commented on #43
@prondzyn thanks for that

[2016-08-08 17:47] prondzyn commented on #43
@amihaiemil please close the issue

[2016-08-08 18:28] amihaiemil commented on #43
Sure thanks :)

[2016-08-08 18:28] #43 closed

[2016-08-10 04:52] prondzyn commented on #43
@dmarkov the task is done

[2016-08-10 09:07] dmarkov commented on #43
@prondzyn thank you!

[2016-08-10 09:09] dmarkov commented on #43
@prondzyn Thank you, I have added **30 mins** to your account in payment/transaction "`AP-0TA95484RH258244L`", time consumed: 120 hours and 49 mins; added +30 to your rating, now it is equal to [+60](http://www.netbout.com/b/35715?open=rating)

[2016-08-17 07:08] dmarkov commented on #46
@amihaiemil it's in your hands now, please proceed

[2016-08-17 08:02] amihaiemil commented on #46
@piotrkot How do you use ``Protocol.SMTPS``? I see in #34  that at first you added ``SMTPS wire``, then you removed it in the next commit? I can't get ``Protocol.SMTPS`` to work properly. Is it supposed to work with the SMTP wire as well?

So this is normal SMTP:

[code]

This would be SMTPS, or?

[code]

[2016-08-17 08:22] amihaiemil commented on #46
@piotrkot the problem is the ``SMTP`` wire - it's supposed to be a ``SMTPS`` wire for smtps... so
``this.session.getTransport("smtps");`` instead of ``this.session.getTransport("smtp");``

[2016-08-17 08:28] amihaiemil commented on #46
@piotrkot As far as I can tell, the way it is now, it has never worked - did you use it otherwise for the gmail usecase?

[2016-08-17 10:01] amihaiemil commented on #46
@dmarkov PR #50 is for this

[2016-08-17 10:39] piotrkot commented on #46
@amihaiemil for gmail try this:
[code]
It works with my gmail account.

[2016-08-17 10:46] amihaiemil commented on #46
@piotrkot Google might accept that :-?? I remember it also worked for me, I tried it some time ago, but testing with Greenmail fails. And it makes sense also. If SMTPS protocol works fine with "smtp" transport (from the SMTP wire), then what is the "smtps" transport used for?

[2016-08-17 10:48] amihaiemil commented on #46
@piotrkot I assume SMTPS transport provides info that Google can work without and so it's ok; but since Greenmail fails without it, I think it's best we provide SMTPS wire for the task.

[2016-08-17 11:53] amihaiemil commented on #46
@piotrkot I tested and Gmail also works fine with the SMTPS Wire..  I'm going to leave it like this since it makes the most sense and also the Greenmail test passes. (With this occasion I also fixed a little bug in Protocol.SMTPS)

[2016-08-17 13:33] dmarkov commented on #46
@amihaiemil thank you!

[2016-08-23 05:42] amihaiemil commented on #46
@dmarkov PR was merged. Close this issue pls

[2016-08-25 06:49] amihaiemil commented on #46
@dmarkov ping

[2016-08-25 08:59] dmarkov commented on #46
@amihaiemil thanks

[2016-08-25 11:27] #46 closed

[2016-08-25 11:27] dmarkov commented on #46
@yegor256 It is closed now

[2016-08-25 11:28] dmarkov commented on #46
@amihaiemil **30 mins** sent to your balance (ID `AP-2RJ15544PW4096034`), many thanks! It took 171 hours and 51 mins.... +30 added to your rating, at the moment it is: [+300](http://www.netbout.com/b/36402?open=rating)

[2016-09-13 08:08] valery1707 opened #51 "Support custom charset"
Currently for all parts used harcoded charset `UTF-8`, but sometimes I want to use another charset.

[2016-09-16 10:02] dmarkov commented on #51
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-10-05 07:15] dmarkov commented on #36
@piotrkot last puzzled solved `36-3609fbd6`/#46

[2016-10-11 19:06] piotrkot commented on #36
@dmarkov Thank you.

[2017-05-02 13:20] yegor256 commented on #51
@valery1707 would you be interested in contributing with a pull request?

[2017-05-02 13:21] yegor256 opened #52 "updated documentation"

[2017-05-02 13:45] valery1707 commented on #51
@yegor256 yes

[2017-05-02 15:06] yegor256 commented on #52
@rultor release, tag is `1.8.1`

[2017-05-02 15:06] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11561-298663481)

[2017-05-02 15:24] yegor256 commented on #51
@valery1707 thanks, looking forward to it

[2017-05-02 15:25] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11561-298663481) (took me 18min)

[2017-05-02 15:28] #52 closed

[2017-05-02 17:39] 0crat commented on #52
Oops! Job `gh:jcabi/jcabi-email#52` was not in scope

[2017-05-03 17:22] valery1707 commented on #51
@yegor256, here it is: #53

[2017-05-04 09:52] 0crat commented on #51
@rultor please, ask @valery1707 to close this issue and [read more](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html)

[2017-05-04 09:52] 0crat commented on #51
@yegor256 please, pay attention to this issue

[2017-05-04 09:56] rultor commented on #51
@0crat Thanks for your request. @yegor256 Please confirm this.

[2017-05-04 09:59] yegor256 commented on #51
@rultor release, tag is `1.9`

[2017-05-04 09:59] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11580-299143298)

[2017-05-04 10:16] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11580-299143298) (took me 16min)

[2017-05-04 10:18] yegor256 commented on #51
@valery1707 I believe version 1.9 includes the feature you were looking for. Many thanks for your contribution!

[2017-05-04 15:09] #51 closed

[2017-05-04 15:09] 0crat commented on #51
Oops! Job `gh:jcabi/jcabi-email#51` was not in scope

[2017-07-10 14:14] yegor256 opened #54 "Don't allow NULL as email subject"
Email subject can't be NULL

[2017-07-10 14:49] yegor256 commented on #54
@rultor release, tag is `1.10`

[2017-07-10 14:50] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12334-314129533)

[2017-07-10 15:20] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12334-314129533) (took me 29min)

[2017-07-10 15:24] #54 closed

[2017-07-10 15:24] 0crat commented on #54
Oops! Job `gh:jcabi/jcabi-email#54` was not in scope

[2021-05-20 03:03] andreoss opened #62 "Release 1.11"

[2021-05-20 03:03] andreoss commented on #62
@rultor release, tag=`1.11`

[2021-05-20 03:04] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-844648026)

[2021-05-20 03:12] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-844648026) (spent 8min)

[code]

[2021-05-20 04:47] andreoss commented on #62
@rultor release, tag=`1.10.1`

[2021-05-20 04:48] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-844688649)

[2021-05-20 04:58] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-844688649) (spent 10min)

[code]

[2021-05-20 06:39] andreoss commented on #62
@rultor release, tag=`1.10.1`

[2021-05-20 06:40] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-844754315)

[2021-05-20 06:48] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-844754315) (spent 8min)

[code]

[2021-05-20 06:49] andreoss commented on #62
@rultor release, tag=`1.10.2`

[2021-05-20 06:50] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-844760825)

[2021-05-20 07:02] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-844760825) (spent 12min)

[code]

[2021-05-22 00:58] andreoss commented on #62
@rultor release, tag=`1.11`

[2021-05-22 01:00] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-846324297)

[2021-05-22 01:08] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-846324297) (spent 8min)

[code]

[2021-05-22 01:11] andreoss commented on #62
@rultor release, tag=`1.10.2`

[2021-05-22 01:13] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-846326249)

[2021-05-22 01:21] rultor commented on #62
@andreoss Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24509-846326249) (spent 8min)

[code]

[2021-05-22 01:22] andreoss commented on #62
@rultor release, tag=`1.12`

[2021-05-22 01:23] rultor commented on #62
@andreoss OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24509-846327621)

[2021-05-22 01:34] rultor commented on #62
@andreoss Done! FYI, the full log is [here](https://www.rultor.com/t/24509-846327621) (took me 10min)

[2021-05-22 02:27] andreoss commented on #62
Release as 1.12 https://ossindex.sonatype.org/component/pkg:maven/com.jcabi/jcabi-email@1.12

[2021-05-22 02:27] #62 closed

[2022-11-04 12:38] renovate[bot] opened #68 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency com.icegreen:greenmail to v1.6.11](../pull/66)
 - [ ] [Update dependency com.jcabi:jcabi to v1.3